* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 340px;
  margin: 0 auto;
  padding: 40px;
}
body {
  font-family: "Nunito", sans-serif;
}

.order__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #73798c;
  margin-bottom: 5px;
}
.order__time {
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  width: 600px;
  font-size: 36px;
  width: 100%;
  margin-bottom: 31px;
}

.menu {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  background: #f96900;
  border-radius: 1000px;
  width: 190px;
  height: 48px;
  border: none;
}
.adress {
  margin-bottom: 50px;
}
.adress::before {
  content: "";
  position: absolute;
  height: 4px;
  background-color: #e2e2e9;
  border-radius: 2px;
  margin-bottom: 8px;
  width: 100%;
}
.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 83px;
}
.cancel {
  width: 160px;
  height: 48px;
  color: #d15700;
  font-size: 16px;
  line-height: 22px;
  border-radius: 30%;
  background: #fff0e6;
  border-radius: 1000px;
  border: none;
}

@media (max-width: 400px) {
  .container {
    padding: 16px;
  }
  .order__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 4px;
  }

  .order__time {
    margin-bottom: 12px;
  }

  .adress {
    width: 288px;
    height: 106px;
    background: #f3f3f7;
    border-radius: 10px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    margin-bottom: 70px;
    padding: 18px 90px 18px 20px;
  }

  .adress::before {
    display: none;
  }

  .button {
    flex-direction: column;
  }

  .cancel {
    width: 288px;
    margin-bottom: 10px;
  }

  .menu {
    width: 288px;
  }
}
